---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/latest?access_key=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 884fc1f6-b1c6-4402-bd9a-c94b2ac00e53
      Last-Modified:
      - Tue, 20 Aug 2019 15:16:06 GMT
      Etag:
      - d425e2aa76c2fb25a84846f680f3fe91
      X-Request-Time:
      - '0.020'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1566314166,"base":"EUR","date":"2019-08-20","rates":{"AED":4.076388,"AFN":86.997701,"ALL":121.262746,"AMD":528.132566,"ANG":1.981122,"AOA":401.732206,"ARS":61.65103,"AUD":1.63677,"AWG":1.99755,"AZN":1.892083,"BAM":1.958653,"BBD":2.240918,"BDT":93.776091,"BGN":1.956655,"BHD":0.41847,"BIF":2046.101227,"BMD":1.10975,"BND":1.499105,"BOB":7.668982,"BRL":4.477065,"BSD":1.10975,"BTC":0.000105,"BTN":76.477408,"BWP":12.317089,"BYN":2.283033,"BYR":21751.096433,"BZD":2.237089,"CAD":1.478164,"CDF":1847.733693,"CHF":1.086523,"CLF":0.028555,"CLP":787.950121,"CNY":7.835279,"COP":3784.246879,"CRC":628.784461,"CUC":1.10975,"CUP":29.40837,"CVE":110.43065,"CZK":25.7978,"DJF":197.225058,"DKK":7.457363,"DOP":56.824743,"DZD":133.147793,"EGP":18.418551,"ERN":16.646113,"ETB":32.460739,"EUR":1,"FJD":2.421863,"FKP":0.9191,"GBP":0.91303,"GEL":3.246034,"GGP":0.913683,"GHS":6.070773,"GIP":0.9191,"GMD":55.604028,"GNF":10186.060459,"GTQ":8.523658,"GYD":231.53265,"HKD":8.704362,"HNL":27.191046,"HRK":7.3896,"HTG":105.826295,"HUF":327.514925,"IDR":15824.200092,"ILS":3.914809,"IMP":0.913683,"INR":79.413038,"IQD":1324.20897,"IRR":46726.015796,"ISK":138.330101,"JEP":0.913683,"JMD":149.19464,"JOD":0.786778,"JPY":118.004153,"KES":114.314999,"KGS":77.463833,"KHR":4532.60636,"KMF":487.901595,"KPW":998.842541,"KRW":1340.411256,"KWD":0.337588,"KYD":0.924843,"KZT":429.339804,"LAK":9672.143898,"LBP":1678.108247,"LKR":197.490962,"LRD":225.279436,"LSL":16.923569,"LTL":3.276802,"LVL":0.671277,"LYD":1.562805,"MAD":10.66214,"MDL":19.68253,"MGA":4100.802992,"MKD":61.584487,"MMK":1690.870089,"MNT":2961.856221,"MOP":8.96467,"MRO":396.180711,"MUR":40.029228,"MVR":17.209131,"MWK":809.195969,"MXN":21.922334,"MYR":4.639364,"MZN":67.261635,"NAD":16.923742,"NGN":402.317073,"NIO":37.207717,"NOK":9.991427,"NPR":127.027531,"NZD":1.729104,"OMR":0.427259,"PAB":1.109805,"PEN":3.754672,"PGK":3.770886,"PHP":58.049935,"PKR":177.726058,"PLN":4.356156,"PYG":6798.328052,"QAR":4.041432,"RON":4.729809,"RSD":117.788968,"RUB":73.930422,"RWF":1019.488317,"SAR":4.16289,"SBD":9.123695,"SCR":15.194728,"SDG":50.067437,"SEK":10.771953,"SGD":1.536837,"SHP":1.465866,"SLL":10320.67343,"SOS":643.654464,"SRD":8.276556,"STD":23927.082778,"SVC":9.711311,"SYP":571.521388,"SZL":17.049643,"THB":34.149774,"TJS":10.759688,"TMT":3.884124,"TND":3.179879,"TOP":2.571679,"TRY":6.358273,"TTD":7.506958,"TWD":34.810604,"TZS":2554.643838,"UAH":27.940211,"UGX":4095.304748,"USD":1.10975,"UYU":40.184507,"UZS":10154.990782,"VEF":11.083625,"VND":25755.628651,"VUV":130.597275,"WST":2.965011,"XAF":656.905529,"XAG":0.064892,"XAU":0.000739,"XCD":2.999154,"XDR":0.809174,"XOF":656.915965,"XPF":119.431333,"YER":277.825611,"ZAR":17.018868,"ZMK":9989.080971,"ZMW":14.522194,"ZWL":357.339443}}'
  recorded_at: Tue, 20 Aug 2019 15:51:33 GMT
recorded_with: VCR 5.0.0
